
@import './styles/animation.scss';

/* Colors */
  $bgColor: #ffffff;
  $dotColor: #77777a;
  $borderColor: #E1E1E1;
  $shadowColor: 0 0 10px 0 rgba(0,0,0,0.2);
  $ancherHoverColor: #0190e6;
  $carouselIndicatorColor: #0190e6;

/* Body Background Dot Dimensions */
  $dotSize: 1px;
  $dotSpace: 20px;



/* Main */
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:
    linear-gradient(90deg, $bgColor ($dotSpace - $dotSize), transparent 1%) center,
    linear-gradient($bgColor ($dotSpace - $dotSize), transparent 1%) center,
    $dotColor;
    background-size: $dotSpace $dotSpace;
  }
  .row {
    margin: 0px;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Fredoka One';
  }
  p {
    color: #000;
    font-size: 14px;
    margin: 0;
    line-height: 2;
  }
  p.title {
    font-family: 'Fredoka One';
    text-transform: uppercase;
    line-height: 1;
  }
  a {
    color: initial;
  }
  .back-btn {
    p {
      font-size: 15px;
      opacity: 0.6;
      i {
        margin-right: 10px;
      }
    }
    &:hover {
      p {
        opacity: 1;
      }
    }
  }

/* ======================= */

/* NavBar */
  .navbar-brand {
    font-size: 20px;
    padding: 0px;
    font-family: 'Fredoka One';
  }
  .navbar {
    background-color: transparent;
    z-index: 5;
  }
/* ======================= */

/* Homepage */
  .homepage {
    position: relative;
    .greeting {
      text-align: center;
      margin-top: 50px;
      h1 {
        font-size: 60px;
        text-transform: uppercase;
      }
      p {
        margin: 0 auto;
      }
    }
    .face {
      position: absolute;
      right: 0;
      left: 0;
      top: 250px;
      .eyes {
        display: flex;
        justify-content: center;
      }
    }
    .eye-ball {
      margin: 0 10px;
      .eye {
        height: 60px;
        width: 90px;
        border: 5px solid #000;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        .ball {
          background-color: #000;
          border-radius: 100%;
          height: 40px;
          width: 40px;
          position: absolute;
        }
      }
      .blush {
        background-color: #FF9CBB;
        border-radius: 100%;
        height: 15px;
        width: 30px;
      }
      &.right {
        .blush {
          float: right;
        }
      }
      &.left {
        .blush {
          float: left;
        }
      }
    }
    a {
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
  .page-position {
    cursor: pointer;
    padding: 130px 0;
    padding-bottom: 0px;
    text-align: center;
    transition-duration: 1s;
    &.right-side {
      margin-left: 15%;
      .coming-soon {
        margin-top: 50px;
        .animation-gif {
          background-image: url('./static/coming_soon.gif');
          background-size: contain;
          background-repeat: no-repeat;
          height: 350px;
          background-position: 50%;
          transition-duration: 1s;
          animation-play-state:paused;
          opacity: 0;
        }
      }
    }
    &.left-side {
      margin-right: 20%;
      .desgin-sketch {
        margin-top: 50px;
        img {
          width: 500px;
          object-fit: contain;
          object-position: 0px 100px;
          transition-duration: 1s;
          opacity: 0;
        }
      }
    }
  }
  .page-position:hover {
    padding: 50px 0;
    .desgin-sketch img,
    .coming-soon img {
      object-position: 0px 0px;
      opacity: 1;
    }
    .coming-soon .animation-gif {
      opacity: 1;
    }
  }


/* ======================= */

/* About */

    .about-me {
      position: relative;
      top: 50px;
      h1 {
        margin-bottom: 20px;
      }
      .text {
        line-height: 26px;
      }
      .photos {
        position: relative;
        top: 25%;
        text-align: center;
        .polaroid {
          background-color: #fff;
          width: 250px;
          height: 270px;
          border: 1px solid $borderColor;
          border-radius: 4px;
          position: absolute;
          img {
            width: 230px;
            height: 200px;
            object-fit: cover;
            margin: 10px;
            border: 1px solid;
          }
          &:nth-child(1) {
            left: 70%;
            transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
            -moz-transform: rotate(20deg);
          }
          &:nth-child(2) {
            left: 15%;
            transform: rotate(-20deg);
            -webkit-transform: rotate(-20deg);
            -moz-transform: rotate(-20deg);
            
          }
          &:nth-child(3) {
            left: 40%;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
            transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            }
        }
        p {
          font-family: 'Shadows Into Light', cursive;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    img.doodle {
      width: 600px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
  
/* ======================= */

/* Contact */
  .contact {
    position: relative;
    top: 40px;
    left: 15%;
    display: flex;
    align-items: center;
    h1 {
      font-size: 70px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    p {
      font-size: 24px;
      margin-top: 15px;
      i {
        margin-right: 15px;
        vertical-align: middle;
      }
    }
    .drawing {
      margin-right: 80px;
      img {
        height: 600px;
      }
    }
    .social {
      margin-top: 40px;
      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin-right: 30px;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
/* ======================= */

/* Project samples */
  .design-projects {
    position: relative;
    top: 30px;
    display: flex;
    align-items: center;
    .intro {
      height: calc(100vh - 150px);
      width: 55%;
      h3 {
        margin-bottom: 20px;
      }
      .software {
        width: 90%;
        margin-bottom: 30px;
        img {
          margin-right: 15px;
          margin-bottom: 10px;
          width: 50px;
        }
      }
      .bottom {
        position: absolute;
        bottom: 20px;
        .download {
          margin-bottom: 30px;
          h5 {
            font-size: 14px;
            margin-bottom: 15px;
          }
          a {
            cursor: pointer;
            font-size: 16px;
            border: 1px dashed;
            padding: 7px 15px;
            border-radius: 10px;
            margin-top: 12px;
            display: block;
            &:hover {
              background-color: #b3e3ff;
              color: $ancherHoverColor;
              text-decoration: none;
              font-weight: bold;
            }
            &:nth-child(3) {
              font-size: 14px;
              padding: 7px 10px;
            }
          } 
        }
      }
    }
    .project-list {
      text-align: center;
      max-height: calc(100vh - 156px);
      padding: 15px;
      overflow: scroll;
    }
    .project {
      background-image: url('./static/folder.png');
      background-repeat: no-repeat;
      background-size: contain;
      text-align: center;
      height: 180px;
      width: 230px;
      position: relative;
      display: inline-block;
      padding: 30px;
      margin: 10px;
      transition: 0.6s;
      &:hover {
        animation: shake 200ms 3 ease-out;
        -moz-animation: shake 200ms 3 ease-out;
        -webkit-animation: shake 200ms 3 ease-out;
        -o-animation: shake 200ms 3 ease-out;
      }
      div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -42%);
      }
      img {
        height: 35px;
        width: 53px;
        margin-bottom: 10px;
      }
      p.title {
        font-size: 16px;
        margin-bottom: 5px;
      }
      p {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
/* ======================= */

/* Project Detail */
  .project-detail {
    margin-top: 50px;
    .content {
      width: 90%;
      margin: 0 auto;
      margin-top: 30px;
      .detail {
        .header {
          margin-bottom: 15px;
          h4 {
            margin-bottom: 0;
          }
          
          p {
            opacity: 0.6;
          }
        }
        .skills {
          margin-top: 30px;
          p {
            margin-bottom: 10px;
          }
          ul {
            list-style: circle;
            padding-left: 20px;
            width: 90%;
            li {
              font-size: 14px;
            }
          }
        }
      }
    }

    .carousel.slide {
      margin-right: 30px;
      box-shadow: $shadowColor;
      .carousel-item {
        img {
          height: 500px;
          object-fit: cover;
          object-position: top;
        }
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        display: none;
      }
      .carousel-indicators {
        bottom: -50px;
        li {
          background-color: $carouselIndicatorColor;
          border: 1px solid;
          border-radius: 50%;
          height: 13px;
          width: 13px;
          opacity: 0.3;
          transition: opacity .6s ease;
        }
      }
      .carousel-indicators .active {
        opacity: 0.8;
      }
    }

    a.back-btn {
      position: absolute;
      bottom: 0px;
    }

    img.img-pencil {
      position: absolute;
      z-index: -1;
      width: 180px;
      bottom: 30px;
      right: 10px;
    }
  }
/* ======================= */

@media screen and (max-width: 992px) {
  .design-projects {
    .intro {
      width: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .about-desgin {
    height: auto;
    border-radius: 0px;
    margin-top: 0;
  }
  .project-list {
    margin-top: 15px;
    max-height: calc(100vh - 326px);
  }
}






